.horizontal-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;
}